.fetch-progress {
  animation-name: progress;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
